body{
    font-family: 'Mitr', sans-serif;
    margin: 0px;
}
.menuBar {
    overflow: hidden;
    background-color: black;
    border: solid crimson;
    border-radius: 3px;
    border-width: 3px;
  }
  
  a{
    float: left;
    color: white;
    text-align: center;
    padding: 0px 25px 0px 20px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 590;
    margin: 7px 5px 7px 5px;
  }
  input{
    float: right;
    padding: 8px 21px 8px 21px;
    margin: 7px 5px 7px 5px;
    border-radius: 10px;
    border: solid green;
    font-size: 15px;
}
.dcolor{
    background-color: green;
    color: white;
    padding-left: 30px;
    padding-right: 40px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.secOne{
    display: flex;
    margin-left: -55px;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}
.widthHalf{
    margin: 30px 0px 0px 100px;
    width: 50%;
}
.widthHalf img{
    width: 85%;
    margin: 10px 0px 0px 25px;
}
h1{
    font-size: 40px;
}
.colorOrange{
    color: crimson;
}

.Lbutton{
    color: white;
    text-decoration:white;
    background-color: green ;
    border: olivedrab;
    border-radius: 5px;
    padding: 0px 15px 0px 15px;
}