body{
    font-family: 'Mitr', sans-serif;
    margin: 0px;
}
.menuBar {
    overflow: hidden;
    background-color: black;
    border: solid crimson;
    border-radius: 3px;
    border-width: 3px;
  }
  
  a{
    float: left;
    color: white;
    text-align: center;
    padding: 0px 25px 0px 20px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 590;
    margin: 7px 5px 7px 5px;
  }
  input{
    float: right;
    padding: 8px 21px 8px 21px;
    margin: 7px 5px 7px 5px;
    border-radius: 10px;
    border: solid green;
    font-size: 15px;
}
.dcolor{
    background-color: green;
    color: white;
    padding-left: 30px;
    padding-right: 40px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.secOne{
    display: flex;
    margin-left: -55px;
    margin-bottom: 40px;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    font-size: 17px;
}
.SecSecnd{
    margin-left: -55px;
    background-image: url(images/banner-portfolio-design-agency-leicester.jpg);
    background-repeat: no-repeat;
}
.widthHalf{
    margin: 30px 0px 0px 100px;
    width: 50%;
}
.widthHalf img{
    width: 85%;
    margin: 10px 0px 0px 25px;
}
h1{
    font-size: 48px;
}
.colorOrange{
    color: crimson;
}

.Lbutton{
    color: white;
    text-decoration:white;
    background-color: green ;
    border: olivedrab;
    border-radius: 5px;
    padding: 0px 25px 0px 25px;
}
.secSecnd{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.sec2border{
    border: solid white;
    padding: 20px;
    color:floralwhite;
    border-radius: 7px;
    font-size: 18px;
}
.recipySection{
    text-align: center;

}
h3{
    font-size: 38px;
}
.recipyborder{
    border: solid crimson;
    padding: 20px;
    color: solid black;   
    border-radius: 7px;
    font-size: 18px;
    margin: 0px 7px 5px 9px;
}
.triImageSectn{
    display: flex;
    margin-top:7% ;
}
.triImages{
    width: 33%;
    margin-left: 5%;
    margin-bottom: 50px;
    margin-right: 5%;
    padding-left: 30px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    border-left: solid 5px;
    border-image: linear-gradient(yellow,red);
    border-image-slice: 1;
    border-image-width: 0px 0px 0px 2px;
}
.img2{
    width: 90%;
    margin-top: 5%;
    border: solid white;
    border-radius: 7px;
}
.subsSectn{
    display: flex;
    padding: 25px 5px 25px 5px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    margin: 20px 100px 10px 100px;
    margin-bottom: 50px; 
 
}
.subscribers{
    width: 39%;
    padding: 0px 0px 0px 130px;
    font-size: 25px;
}
.subsQntity{
    font-size: 12px;
    font-weight: 400;
}
footer{
    width: 100%;
    background-color: black;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 5px;
}